<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Editar Categoria</h1>
        <form action="/categories/update" method="POST" class="form">
            <input type="hidden" name="id" value="<%= category.id %>">

            <label for="title">Nome</label>
            <input type="text" name="id" value="<%= category.title %>" required>

            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>